 div {
     width: 600px;
     margin: auto;
     background-color: gainsboro;
     height: 30px;
     padding: 10px;
     border-left: var(--width) solid orangered;
     border-right: var(--width) solid purple;
     letter-spacing: 3px;
     font-weight: bold;
     position: relative;
     font-size: large;
     text-align: center;
 }
 
 :root {
     --width: 4px;
 }
 
 div::before,
 div::after {
     content: "";
     width: 620px;
     height: var(--width);
     background: linear-gradient(to right, orangered 0%, orangered 20%, rgba(52, 151, 221, 0.873) 20%, rgba(52, 151, 221, 0.873) 40%, green 40%, green 60%, rgba(234, 18, 130, 0.843)60%, rgba(234, 18, 130, 0.843)80%, purple 80%);
     position: absolute;
     left: 0%;
 }
 
 div::before {
     top: 0%;
 }
 
 div::after {
     bottom: 0%;
 }
 
 div::first-letter {
     color: red;
 }