.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 10px;
}

.grid div {
    background-color: rgb(84, 113, 120);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}