.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    color: white;
    grid-template-columns: 2% 46% 46% 2%;
    grid-template-rows: 94% 6%;
    display: grid;
    gap: 9px;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 6, 12, 0.839);
}